---
import Layout from '../../layouts/Layout.astro';
import { Calculator } from '../../components/Calculator';
import { I18nextProvider } from '../../components/I18nextProvider';

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'zh' } },
    { params: { lang: 'es' } },
    { params: { lang: 'fr' } },
    { params: { lang: 'de' } },
    { params: { lang: 'ja' } },
    { params: { lang: 'pa' } },
    { params: { lang: 'jv' } },
    { params: { lang: 'ko' } },
    { params: { lang: 'vi' } },
    { params: { lang: 'tr' } },
    { params: { lang: 'sw' } },
    { params: { lang: 'it' } },
    { params: { lang: 'fa' } },
    { params: { lang: 'ar' } },
    { params: { lang: 'bn' } },
    { params: { lang: 'pt' } },
    { params: { lang: 'ru' } },
    { params: { lang: 'ur' } },
    { params: { lang: 'hi' } },
    { params: { lang: 'ta' } }
  ];
}

const { lang } = Astro.params;
---

<Layout title="Deadlift Calculator" lang={lang} page="deadlift">
  <div class="max-w-4xl mx-auto">
    <I18nextProvider client:only="react">
      <Calculator client:only="react" exercise="deadlift" />
    </I18nextProvider>
  </div>
</Layout>